[Unit]
Description=Efetua o BKP

[Service]
User=root
Group=root
ExecStart=/usr/bin/python3 /home/ubuntu/Development/DockerBkp/src/main.py
WorkingDirectory=/home/ubuntu/Development/DockerBkp/
# Restart=always
# RestartSec=60

[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=multi-user.target



